[Unit]
Description=File Watcher Service for Automation Tasks

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/repos/finance
ExecStart=/home/linuxbrew/.linuxbrew/bin/ruby /home/ubuntu/repos/finance/file_watcher.rb
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
